
<%- include('includes/header.ejs') -%>

<!-- Begin page content -->
<div class="container">
    About Page

    <%- JSON.stringify(mayData) %>
</div>

<%- include('includes/footer.ejs') -%>